<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Secular One">
</head>

<body>
    <header>
        <h2 class="logo">Hamster<span>Code</span></h2>

        <nav>
            <ul>
                <li class="active"><a href="#portfolio">Home</a></li>
                <li><a href="#About">About</a></li>
                <li><a href="#">Times</a></li>
                <li><a href="#gallery">Gallery</a></li>
                <li><a href="#contact-us">Contact</a></li>
            </ul>
        </nav>

            <div id="connect">
                <input type="text" id="connect-us" placeholder="what's in your mind..">
                <input type="submit" value="connect" class="inp_btn">
            </div>

        <div id="hamb">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>

    <main>
        <section id="portfolio">
            <div class="my_illus">
                <img src="/img/man_standing_illustartion.png" alt="" class="man">
                <img src="/img/3d_dog.png" alt="" srcset="" class="dog">
            </div>
            <div class="info-head">
                <h1>Hello I'm Rishabh Kumar</h1>
                <p>web developer | graphics desginer | EnterPreneur</p>
                <div class="watch-btn-box">
                    <p>watch now</p>
                    <i class="fa-solid fa-circle-play"></i>
                </div>
            </div>

            <div class="connect-icons">
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-discord"></i>
                <i class="fa-solid fa-comments"></i>
            </div>
        </section>

        <section id="About">
            <div class="info-about">
                <h1>About Me</h1>
            </div>
            <div id="my-info">
                <div class="personal-about">
                    <div class="about-quote">
                        <h2><q>whenever you saw a crow.it's always black.</q></h2>
                        <h4>
                            <summary>vise man</summary>
                        </h4>
                    </div>
                    <div class="about-param">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet facilis, maxime velit sed
                            aliquam nisi explicabo. Amet explicabo possimus dolorum error, veritatis obcaecati in
                            suscipit nihil sit id eius expedita.</p>
                    </div>
                    <div class="resume-box">
                        <button class="resume">download cv <i class="fa-solid fa-file"></i></button>
                    </div>
                    <div class="contact-icons">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-whatsapp"></i>
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                </div>
                <div class="personal-img-box">
                    <div class="img-card-bx">
                        <img src="/img/nature2.png" alt="">
                    </div>
                </div>
            </div>
        </section>

        <section id="gallery">
            <div class="info-about">
                <h1>Gallery.</h1>
            </div>
            <div class="gallery-box">
                <div class="gallery-part">
                    <img src="/img/nature1.png" alt="" srcset="">
                </div>
                <div class="gallery-part">
                    <img src="/img/nature3.png" alt="" srcset="">
                </div>
                <div class="gallery-part">
                    <img src="/img/nature2.png" alt="" srcset="">
                </div>
                <div class="gallery-part">
                    <img src="/img/nature3.png" alt="" srcset="">
                </div>
                <div class="gallery-part">
                    <img src="/img/nature2.png" alt="" srcset="">
                </div>
                <div class="gallery-part">
                    <img src="/img/nature1.png" alt="" srcset="">
                </div>
            </div>
        </section>

        <section id="contact-us">
            <div class="info-about">
                <h1>Contact us</h1>
            </div>
            <div class="contact-page">
                <div class="tour-man-box">
                    <img src="/img/tour_travel_illustration.png" alt="">
                </div>
                <form class="contact-form" method="post" action="/thank">
                    <input type="text" id="name" name="user" placeholder="Your Name..." required>
                    <input type="Email" id="name" name="email" placeholder="Your Email.." required>
                    <textarea  id="textA" name="message" placeholder="Give some message..."></textarea>
                    <input type="submit" value="submit" id="submit">
                </form>
            </div>
        </section>

    </main>

    <footer>
        <div id="block-container">
            <div id="block1">
                <h2 class="logo">Hamster<span>Code</span></h2>
                <address>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <samp>JH01,ranchi,Jharkhand.</samp>
                    <summary>how12rishabh@gmail.com</summary>
                    <pre>+91 1234567890</pre>
                </address>
            </div>
            <div id="contact-footer">
                <input type="text" placeholder="Your Email.." class="cont-inp">
                <input type="submit" value="submit" class="submit_inp">
            </div>
        </div>

        <div class="contact-block">
            <div class="contact-icons">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-whatsapp"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>
        </div>
    </footer>

    <script src="/js/main.js"></script>
</body>

</html>