<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Secular One">
</head>

<body>
    <section class="center-card">
        <div id="styled-div">
           <h3> Hi <%= data.name %> .</h3>
           <p> I am very blessed by your wish🥰.My heart is thankfull by you responce🥳.
            May god bless uhh also with happiness in your life💞.
           </p>
        </div>
    </section>
</body>

</html>